
body {
    font-family: 'Bebas Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color:rgb(50, 144, 245);
}

.header {
    background-color: white;
    color:blue;
    text-align: center;
    padding: 10px;
    font-size: 25px;
}

.navbar {
    background-color: white;
    padding: 10px;
    text-align: center;
}

.navbar a {
    color: blue;
    text-decoration: none;
    margin: 0 15px;
    font-size: 30px;
}

.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    padding: 20px;
}

.image-container div {
    display: flex;
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; 
    border-radius: 8px; 
}

.image-container .hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    font-size: 18px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.5s; 
    text-align: center;
    background-color: white; 
    padding: 10px; 
    border-radius: 5px; 
    pointer-events: none; 
    z-index: -1; 
}

.image-container div:hover img {
    transform: scale(1.1); 
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); 
    filter: brightness(80%); 
}

.image-container div:hover .hover-text {
    opacity: 1; 
    transform: translate(-50%, -50%); 
    z-index: 1; 
}

.ÜberschriftFilme {
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    color:blue;
}


.text2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
    color:white;
}

.image-container div:nth-child(n+2) > div {
    flex: 1;
    margin-right: 10px; 
    max-width: calc(50% - 10px); 
}

.image-container div:nth-child(n+2) img {
    max-width: 100%;
    height: auto;
}
.image-container div:nth-child(3) img, 
.image-container div:nth-child(8) img { 
    max-width: 100%; 
}


.ÜberschriftSerie{
    font-size: 45px;
    margin-top: 20px;
    text-align: center;
    background-color: white;
    color:blue;
}
