body {
  backgrounf-color:blue;
}
h1{
  background-color:red;
  color:white;
  padding:5px;
}
site-nav-list{
  backgrounf:yellow;
  list-style-type: none;
  padding:5px;
}
site-nav-list li{
  display:inline;
  margin-right:5px;
}
site-nav-list li a{
  text-decoration:none;
  color: #333;
}
