
        body {
            font-family: 'Bebas Neue', sans-serif;
            margin: 0;
            padding: 0;
            background-color:rgb(7, 7, 46);
        }

        .header {
            background-color: rgb(45, 45, 167);
            color: white;;
            text-align: center;
            padding: 10px;
            font-size: 25px;
        }

        .navbar {
            background-color: rgb(45, 45, 167);
            padding: 10px;
            text-align: center;
        }

        .navbar a {
            color: white;;
            text-decoration: none;
            margin: 0 15px;
            font-size: 30px;
        }
       
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          
            padding: 20px;
        }

        .image-container div {
            display: flex;
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
        }

        .image-container img {
            max-width: 100%;
            height: auto;
            transition: transform 0.3s, box-shadow 0.3s, filter 0.3s; /* Fügt einen Übergangseffekt für den Hover hinzu */
            border-radius: 8px; /* Fügt abgerundete Ecken hinzu */
        }

        .image-container .hover-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
            font-size: 18px;
            opacity: 0;
            transition: opacity 0.3s, transform 0.5s; /* Fügt einen Übergangseffekt für die Opazität und Transform hinzu */
            text-align: center;
            background-color: blue; /* Hintergrundfarbe für den Text */
            padding: 10px; /* Innenabstand für den Text */
            border-radius: 5px; /* Abgerundete Ecken für den Text */
            pointer-events: none; /* Verhindert, dass der Text klickbar ist */
            z-index: -1; /* Setzt den Text hinter das Bild */
        }

        .image-container div:hover img {
            transform: scale(1.1); /* Vergrößert das Bild beim Überfahren */
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.8); /* Fügt einen Schatteneffekt hinzu */
            filter: brightness(80%); /* Verringert die Helligkeit des Bildes */
        }

        .image-container div:hover .hover-text {
            opacity: 1; /* Zeigt den Text beim Überfahren an */
            transform: translate(-50%, -50%); /* Positioniert den Text in der Mitte */
            z-index: 1; /* Setzt den Text über das Bild */
        }

        .big-title {
            font-size: 45px;
            margin-top: 20px;
            text-align: center;
            background-color:rgb(45, 45, 167);
            color:white;
            aspect-ratio: auto;
            max-height: 100%;
        }

        /* Zusätzlicher Text über der großen Überschrift */
        .additional-text {
            font-size: 40px;
            margin-bottom: 20px;
            text-align: center;
            color:white;
        }
        
        /* Bilder 2 bis 13 kleiner machen und Abstand hinzufügen */
        .image-container div:nth-child(n+2) > div {
            flex: 1;
            margin-right: 10px; /* Abstand zwischen den Bildern */
            max-width: calc(50% - 10px); /* 50% Breite minus Abstand */
        }

        .image-container div:nth-child(n+2) img {
            max-width: 100%;
            height: auto;
        }
        .image-container div:nth-child(3) img, /* Bild 2 */
        .image-container div:nth-child(8) img { /* Bild 8 */
            max-width: 100%; /* Ändere die Breite der Bilder 2 und 8 auf 100% */
        }

        .image-container div:first-child img {
            max-width: 55%; /* Ändere die Breite des ersten Bildes auf 55% */
            display: block; /* Ändere das Anzeigeverhalten auf block, um es horizontal zu zentrieren */
            margin: 0 auto; /* Zentriere das Bild horizontal */
        }

        .big-titleTwo{
            font-size: 45px;
            margin-top: 20px;
            text-align: center;
            background-color: rgb(45, 45, 167);
            color:white;   
        }
        