{ 
background-color: rosa;
}

div p
{
color: black;
}

ul
{
color: #FFCCFF;
}

[href]
{
color: #FFCCFF;
}

h1
{
text-align: center;
color: #FFCCFF;
} 

h2
{
text-align: center;
color: #FFCCFF;
} 

h3
{
text-align: center;
color: #FFCCFF;
} 

h4
{
text-align: center;
color: #FFCCFF;
} 

table
{
color: #CC66FF;
}
